<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cartera</title>

</head>
<body>
  
<h1> Clientes </h1>

<% clientes.each do |c|%>
  <p><a href=/clientes/<%=c[:nombre].to_s%>><%= c[:nombre].capitalize %> </a></p>
<% end %>

<%# Linea%>
<hr>

<form method="post" action="/cliente">
      <label for="nombre">Nombre: </label>
      <input type="text" name="nombre">
      <input type="submit" value="Agregar Cliente">
</form>

</body>
</html>
