<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cartera</title>

</head>
<body>
  
<h1> Clientes </h1>

<%# Ordenamos los nombres OJO cambiamos el objeto%>
<% clientes.sort_by! {|hsh| hsh[:nombre] } %>

<% clientes.each do |c| %>
  <%# Se tuvo que modificar el nombre y meterle
      en los espacios '%20' de otro modo la pagina
      no recibe los espacios %>
  <% nombre_con_espacios = c[:nombre].gsub(" ", "%20") %>
  <p><a href=/clientes/<%= nombre_con_espacios %>><%= c[:nombre].capitalize %></a></p>
<% end %>

<%# Linea%>
<hr>

<form method="post" action="/clientes">
      <label for="nombre">Nombre: </label>
      <input type="text" name="nombre">
      <input type="submit" value="Agregar Cliente">
</form>

</body>
</html>
