<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cartera</title>

</head>
<body>
  
<%# Titulo%>
<h1> Clienteses </h1>

<%# Ordenamos los nombres OJO cambiamos el objeto %>
<%# clientes.sort_by! {|hsh| hsh[:nombre] } %>

<%# Mostramos todos los clientes %>
<% @clientes.each do |c| %>

  <%# Poniendole %20 al nombre para pasarlo por las paginas%>
  <p><a href=/clientes/<%= c.nombre.gsub(" ", "%20") %>><%= c.nombre.capitalize %></a></p>
<% end %>

<%# Linea%>
<hr>

<%# Forma con boton para agregar un cliente nuevo%>
<form method="post" action="/clientes">
      <label for="nombre">Nombre: </label>
      <input type="text" name="nombre">
      <div>
        <input type="submit" value="Agregar Cliente" >
      </div>
</form>

<%# Boton para regresar a los clientes_saldo%>
<a href="/clientes_saldo"> <button>Clientes saldo</button>

</body>
</html>
